   <html>
   <head>
   <link rel="stylesheet" type="text/css" href="/static/css/head.css" />
</head>
<body>
   <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/index/"><font color = "white"><b>我的个人主页</b></font></a></h1>

        </div>
        
        
        <div id="user-tools">
            
                <font color = "white"><b>欢迎您的到来！</b></font>
                <strong>{{username}}</strong>
                <a href="/password_change/">修改密码</a> /
                
                <a href="/logout/">退出登录</a>
            
        </div>
        
        
        
    </div>
    <!-- END Header -->
</body>
</html>